<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Error</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            color: #333;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #d9534f; /* Bootstrap's danger color */
        }

        p {
            font-size: 18px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Oops kurang passwordnya nih!</h1>
    <p>Password kamu salah nih. Coba pake nomor hp kamu pada saat daftar rekoleksi.</p>
    <p>Gunakan link ini: /letters/nama?password=no hp</p>
    <p>Back to <a href="/">Home</a></p>
</body>
</html>
